footer {
    background-image: linear-gradient(to bottom right, #5e4af1, #ba0bf9);
    margin-top: 90px;
}

.footer-container {
    display: flex;
    padding: 50px;
}

.left-footer-form,
.right-footer-contact {
    width: 50%;
}

#contact-title,
#form-title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}

.form {
    margin-top: 50px;
}

.input {
    width: 70%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 20px;
    margin-bottom: 30px;
}

::placeholder {
    color: white;
    font-size: 20px;
}

#send-btn {
    width: 75%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-desc {
    margin-top: 50px;
}

#email-info,
#number-info {
    text-transform: uppercase;
    font-size: 20px;
}

#email-info {
    margin-bottom: 20px;
}



@media only screen and (min-width:200px) and (max-width:570px) {}